@import "tailwindcss";

@font-face {
    font-family: 'main-font';
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

body {
    font-family: 'main-font', sans-serif;
    
}

/* Hide scrollbar but keep scrolling */
html {
    scrollbar-width: none;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }